$fonts-headline: 'Courgette', cursive;
$fonts-body: 'Barlow', sans-serif; 
$font-title: 'Forum';
$background-color: #f8f5f9;
$primary: #FFFFFF;
$accent1: #3d8589;
$accent2: #6A66A3;
$accent3: #f4dee3;
$grey-sidebar: rgba(51, 55, 69, 0.9);
$text-dark: #3d8589;
$text-light: #150606;